.persona-section {
  position: relative;
  display: flex;
  min-height: 1589px;
  align-items: center;
  justify-content: center;
  padding: 44px 60px;
  overflow: hidden;
}

@media (max-width: 991px) {
  .persona-section {
    padding: 0 20px;
  }
}

.background-image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.content-wrapper {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 1763px;
  flex-direction: column;
}

@media (max-width: 991px) {
  .content-wrapper {
    max-width: 100%;
  }
}

.section-title {
  color: #ffffff;
  align-self: center;
  font: 700 110px/150% Inter, sans-serif;
}

@media (max-width: 991px) {
  .section-title {
    font-size: 40px;
  }
}

.persona-card {
  background-color: #e0e0e0;
  margin-top: 34px;
  padding: 50px 75px 26px;
}

@media (max-width: 991px) {
  .persona-card {
    max-width: 100%;
    padding: 0 20px;
  }
}

.persona-content {
  display: flex;
  gap: 20px;
}

@media (max-width: 991px) {
  .persona-content {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }
}

.persona-details {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 83%;
  margin-left: 0;
}

@media (max-width: 991px) {
  .persona-details {
    width: 100%;
  }
}

.persona-description {
  width: 70%;
  color: #000;
  font: 500 23px/35px Inter, sans-serif;
}

@media (max-width: 991px) {
  .persona-description {
    max-width: 100%;
    margin-top: 40px;
  }
}

.persona-image-wrapper {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 17%;
  margin-left: 20px;
}

@media (max-width: 991px) {
  .persona-image-wrapper {
    width: 100%;
  }
}

.persona-image {
  aspect-ratio: 1.05;
  object-fit: cover;
  object-position: center;
  width: 100%;
  max-width: 251px;
  align-self: stretch;
  margin: auto 0;
}

@media (max-width: 991px) {
  .persona-image {
    margin-top: 40px;
  }
}

.bold-text {
  font-weight: 700;
}
.mission-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;
  z-index: 10;
  max-height: 100%;
  max-width: 100%;
  justify-content: center;  
  padding: 10px;
}

@media (max-width: 100%) {
  .mission-section {
    padding: 0 20px;
  }
}

.mission-background {
  position: absolute;
  display: flex;
  inset: 0;
  height: 100%;
  width: 100%;
}

.mission-content {
  position: relative;
  width: 100%;
  max-width: 1665px;
  margin: 179px 0 194px;
}

@media (max-width: 991px) {
  .mission-content {
    max-width: 100%;
    margin: 40px 0;
  }
}

.mission-grid {
  display: flex;
  gap: 20px;
}

@media (max-width: 991px) {
  .mission-grid {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }
}

.mission-title-column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 20%;
  margin-left: 0;
}

@media (max-width: 991px) {
  .mission-title-column {
    width: 100%;
  }
}

.mission-title {
  color: #fff;
  position: relative;
  font: 700 55px/50px Inter, sans-serif;
  margin-top: 50px;
  margin-left: 40px;
}

@media (max-width: 991px) {
  .mission-title {
    margin-top: 40px;
    font-size: 40px;
    line-height: 67px;
  }
}

.mission-description-column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 80%;
  margin-left: 20px;
}

@media (max-width: 991px) {
  .mission-description-column {
    width: 100%;
  }
}

.mission-description {
  color: #fafafa;
  letter-spacing: -1px;
  position: relative;
  margin-top: 21px;
  font: 700 30px Inter, sans-serif;
  margin-right: 200px;
  margin-left: 50px;
}

@media (max-width: 991px) {
  .mission-description {
    max-width: 100%;
    margin-top: 40px;
    font-size: 40px;
  }
}
.who-are-we {
  display: flex;
  gap: 20px;
  font-size: 30px;
  color: #000;
  font-weight: 400;
  justify-content: space-between;
  padding: 0 20px;
}

@media (max-width: 991px) {
  .who-are-we {
    flex-wrap: wrap;
  }
}

.vertical-divider {
  background-color: #e0e0e0;
  width: 204px;
  height: 555px;
  margin-top: 53px;
}

.student-title {
  width: 488px;
  background-color: #e0e0e0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font: 700 64px/90px Inter, sans-serif;
  text-align: center;
  padding-bottom: 25px;
}

@media (max-width: 991px) {
  .student-title {
    font-size: 40px;
    line-height: 66px;
    max-width: 100%;
    padding: 40px 20px 0;
  }
}

.member-info-left {
  font-size: 25px;
  font-family: Arsenal, sans-serif;
  background-color: #e0e0e0;
  display: flex;
  justify-content: center;
  padding: 113px 70px 80px 78px;
  margin-top: 53px;
  margin-bottom: 53px;
}

@media (max-width: 991px) {
  .member-info-left {
    max-width: 100%;
    padding: 0 20px 0 30px;
  }
}

.member-info-right {
  font-size: 25px;
  font-family: Arsenal, sans-serif;
  background-color: #e0e0e0;
  display: flex;
  justify-content: center;
  padding: 114px 70px 80px 78px;
  margin-top: 53px;
  margin-bottom: 53px;
}

@media (max-width: 991px) {
  .member-info-right {
    max-width: 100%;
    padding: 0 20px 0 30px;
  }
}

.vertical-divider-right {
  background-color: #e0e0e0;
  width: 290px;
  max-width: 100%;
  height: 555px;
  margin-top: 53px;
}